<!DOCTYPE html>
<html lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>{{ page.title }}</title>
   <meta name="description" content="" />
   <meta name="author" content="Christopher Triolo" />

   <!-- Twitter's BootStrap CSS -->
   <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css">

   <!-- default layout CSS -->
   <style type="text/css">
     body { padding: 20px 0; }
     .container { width: 880px; }
     header { text-align: center; }
     a .hero-unit { color: #404040; }
     a:hover { text-decoration: none; }
   </style>

   <!-- icons -->
   <link rel="shortcut icon" type="image/x-icon" href="/assets/ico/favicon.ico">
</head>
<body>

  <!-- Header
       ================================================== -->
  <header class="container">
    <a href="\">
      <div class="hero-unit">
        <h1>Christopher Triolo</h1>
        <p>Princeton University Student. Computer Scientist. Software Engineer.</p>
      </div>
    </a>
  </header>

  {{ content }}

  <!-- Footer
       ================================================== -->
  <footer class="container">
    <a href="https://github.com/ctriolo/ctriolo.github.com" class="pull-right">
      {{ site.time | date_to_long_string }}
    </a>
    <address class="span10">
      <strong>Christopher Triolo:</strong>
      <a href="mailto:ctriolo@princeton.edu">email</a>
      <a href="http://facebook.com/christophertriolo">facebook</a>
      <a href="http://twitter.com/christriolo">twitter</a>
      <a href="http://foursquare.com/christriolo">foursquare</a>
      <a href="http://www.rdio.com/#/people/ChristopherTriolo/">rdio</a>
      <a href="http://github.com/ctriolo">github</a>
      <a href="http://linkedin.com/in/ctriolo">linkedin</a>
      <a href="/cv.html">cv</a>
    </address>
  </footer>

</body>
</html>
